/* This is a basic CSS template */

/* Resetting some default styles */
body, h1, p {
    margin: 0; /* Resetting margin */
    padding: 0; /* Resetting padding */
  }
  
  /* Styling the body */
  body {
    font-family: Arial, sans-serif; /* Setting the font family */
    line-height: 1.6; /* Setting the line height */
    background-color: #f2f2f2; /* Setting the background color */
  }
  
  /* Styling the h1 */
  h1 {
    font-size: 40px; /* Font size */
    color: #333; /* Setting the text color */
    text-align: center; /* put text in middle */
    margin-top: 40px; /* add margin on top aka move down */
  }

  /* Styling paragraphs */
  p {
    padding-top: 0px; /* Setting padding around the paragraphs */
    color: #666; /* Setting the text color */
  }

  /* Styling h2 */
  h2 {
    color:rgb(60, 167, 167); /* change color */
  }

  /* Styling h3 */
  h3 {
    color: #333; /* change color */
    margin-bottom: 0px; /* move it closer to h4 */
  }

  /* Styling h4 */
  h4 {
    color: black;
    margin-top: 0px; /* move it closer to h3 */
  }
 
  /* Styling links */
  a {
    text-decoration: none; /* Removing the underline from links */
    color: #007bff; /* Setting the link color */
  }
  

  /* Start the classes */

  /* Styling a basic container */
  .container {
    width: 90%; /* Setting the width of the container */
    margin: auto; /* Centering the container */
    overflow: hidden; /* Hiding any overflow content */
    display: flex;
  }

  /* Styling first and last name */
  .first-name, .last-name {
    display: block;
  }

  /* Split screen in 2 and this is the left part */
  .left-side {
    flex: 1; /* Occupy 1 part of the available space */
    padding: 20px; /* Add some padding for spacing */
  }

  /* Split screen in 2 and this is the part */
  .right-side {
    flex: 1; /* Occupy 1 part of the available space */
    padding: 20px;
  }

  /* make line */
  .line {
    width: 1px; /* Set the width of the line */
    background-color: #333; /* Set the color of the line */
    margin: 0 20px; /* Set the margin to create space around the line */
  }
  
  /* Styling date */
  .date {
    font-family: 'Merriweather';
    font-style: italic;
    font-size: small;
    padding-left: 8px;
  }

  /* Styling list */
  .skill-list {
    margin-top: -10px;
    list-style-type: circle ;
    color: #666;
    font-style: oblique;
  }
